.H2 {
	font-family: Montserrat;
	font-size: var(--size-large);
	font-style: normal;
	font-weight: 700;
	line-height: 110%; /* 39.6px */
	letter-spacing: 0.72px;
}
.H3 {
	font-family: Montserrat;
	font-size: var(--size-medium);
	font-style: normal;
	font-weight: 700;
	line-height: 100%; /* 24px */
	letter-spacing: 0.48px;
}
.H4 {
	font-family: Montserrat;
	font-size: var(--size-regular);
	font-style: normal;
	font-weight: 700;
	line-height: 100%;
	letter-spacing: 0.36px;
}
.P1 {
	font-family: Montserrat;
	font-size: var(--size-medium);
	font-style: normal;
	font-weight: 500;
	line-height: 140%; /* 33.6px */
}
.P2 {
	font-family: Montserrat;
	font-size: var(--size-regular);
	font-style: normal;
	font-weight: 500;
	line-height: 140%; /* 25.2px */
}
.B1 {
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.section-title {
	&_yellow {
		color: var(--primary-yelow);
	}
	&_grey {
		color: var(--text-light);
	}
	text-align: center;
	font-family: Montserrat;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 110%; /* 52.8px */
	letter-spacing: 0.96px;
	text-transform: uppercase;
}
.button {
	&_yellow {
		color: var(--text-dark);
		background: var(--primary-yelow);
	}
	&_black {
		color: var(--additional-white);
		background: var(--text-dark);
	}
	font-weight: 500;
	font-size: var(--size-regular);
	display: inline-flex;
	padding: 17px 24px;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	border: 4px solid rgba(255, 255, 255, 0);
	transition:
		color 0.3s,
		background 0.3s,
		border 0.3s;
	&:hover {
		background: #3dbf00;
		color: var(--additional-white);
	}
	&:active {
		color: var(--text-dark);
		background: var(--primary-yelow);
		border: 4px solid rgba(56, 176, 0, 0.25);
	}
}
.ghost-button {
	font-size: var(--size-regular);
	padding: 17px 24px;
	font-weight: 500;
	border-radius: 6px;
	border: 4px solid rgba(255, 255, 255, 0);
	transition:
		border 0.3s,
		color 0.3s;
	&:hover {
		color: var(--primary-yelow);
	}
	&:active {
		border: 4px solid rgba(56, 176, 0, 0.25);
	}
}
.list-item {
	display: flex;
	padding: 24px;
	gap: 24px;
	&__title {
		color: var(--primary-yelow);
		&:not(:last-child) {
			margin: 0px 0px 8px 0px;
		}
	}
	&__text {
		color: var(--additional-white);
	}
	&::before {
		content: "";
		display: block;
		width: 80px;
		height: 80px;
		flex-shrink: 0;
		color: #353a40;
		background-color: var(--primary-yelow, #fe0);
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 8px;
	}
	&_truck {
		&::before {
			background-image: url(/assets/images/features/icons/truck.svg);
		}
	}
	&_spanner {
		&::before {
			background-image: url(/assets/images/features/icons/spanner.svg);
		}
	}
	&_award {
		&::before {
			background-image: url(/assets/images/features/icons/award.svg);
		}
	}
	&_pocket {
		&::before {
			background-image: url(/assets/images/features/icons/pocket.svg);
		}
	}
	&_file-text {
		&::before {
			background-image: url(/assets/images/about/icons/file-text.svg);
		}
	}
	&_settings {
		&::before {
			background-image: url(/assets/images/about/icons/settings.svg);
		}
	}
	&_star {
		&::before {
			background-image: url(/assets/images/about/icons/star.svg);
		}
	}
}
.li-check {
	display: flex;
	align-items: center;
	gap: 12px;
	&::before {
		content: "";
		display: block;
		width: 24px;
		height: 24px;
		flex-shrink: 0;
	}
	&_white {
		&::before {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Cpath d='M20.5 6.24023L9.5 17.2402L4.5 12.2402' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
		}
	}
	&_yellow {
		&::before {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M20 6.5L9 17.5L4 12.5' stroke='%23FFEE00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
		}
	}
	&_dark {
		&::before {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M20.5 6L9.5 17L4.5 12' stroke='%231F1C0C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
		}
	}
}
.form-main {
	max-width: 516px;
	padding: 24px;
	border-radius: 8px;
	background: var(--text-light);
	box-shadow: 0px 16px 64px 0px rgba(30, 47, 64, 0.09);
	&_hidden-caption {
		.form-main__caption {
			display: none;
		}
	}
	&__caption {
		color: var(--additional-white);
		margin: 0px 0px 20px 0px;
	}
	&__caption-title {
		font-weight: 700;
	}
	&__caption-list {
		padding: 0 0 0 25px;
	}
	&__list-item {
		list-style: disc;
	}
	&__title {
		color: var(--additional-white);
		margin: 0px 0px 24px 0px;
	}
	&__name {
		@extend %inputs-main;
		margin: 0px 0px 12px 0px;
	}
	&__phonenumber {
		@extend %inputs-main;
		margin: 0px 0px 24px 0px;
	}
	&__button {
		margin: 0px 0px 22px 0px;
	}
}
.arrow-bg {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
	height: 820px;
	background:
		url(/assets/images/arrow-bg/arrow-bg.png) center/cover no-repeat,
		var(--primary-yelow);
	&::before,
	&::after {
		position: absolute;
		right: 0;
		content: "";
		width: 0;
		height: 0;
		border-left: 235px solid transparent;
	}
	&::before {
		top: 0;
		border-top: 410px solid var(--text-light);
	}
	&::after {
		bottom: 0;
		border-bottom: 410px solid var(--text-light);
	}
}
