@import "mixins.scss";
/* ---------- header ---------- */
.header {
	background: var(--text-light);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 80;
	a {
		color: var(--additional-white);
	}
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 15px;
	}
	&__logo {
		display: flex;
		align-items: center;
		gap: 12px;
	}
	&__logo-text {
		span {
			font-weight: 400;
		}
	}
	&__menu-list {
		display: flex;
		align-items: center;
		.ghost-button {
			@include adapt-value("padding-left", 24, 5, 1);
			@include adapt-value("padding-right", 24, 5, 1);
		}
	}
	&__menu-list-item {
		a {
			display: inline-block;
			height: 100%;
			width: 100%;
		}
	}
	&__contacts {
		a {
			display: block;
			transition: color 0.3s;
			&:not(:last-child) {
				margin: 0px 0px 5px 0px;
			}
			&:hover {
				color: var(--primary-yelow);
			}
		}
	}
	&__menu-burger {
		display: none;
		&::before,
		&::after,
		span {
			content: "";
			width: 100%;
			height: 3px;
			background: var(--additional-white);
			border-radius: 5px;
		}
	}
	&__mobile-button {
		display: none;
		font-size: 30px;
	}
}
