/* ---------- media quaries ---------- */
@media (max-width: 1200px) {
	.arrow-bg {
		top: 0;
		height: 100%;
		&::before,
		&::after {
			display: none;
		}
	}
	.header {
		&__contacts {
			display: none;
		}
	}
	.features {
		background: url("../images/features/features_bg.png") center no-repeat;
		&__title {
			margin: 0px auto 50px;
		}
		&__list-item {
			&:not(:last-child) {
				margin: 0px 0px 20px 0px;
			}
		}
	}
	.technology {
		&__container {
			justify-content: center;
		}
		&__titles {
			text-align: center;
		}
		&__text {
			text-align: justify;
		}
	}
	.products {
		&__container {
			gap: 50px;
		}
	}
	.about {
		&__title {
			margin: 0px 0px 40px 0px;
		}
		&__description {
			margin: 0px 0px 50px 0px;
		}
		&__description-list-item:not(:last-child) {
			margin: 0px 0px 25px 0px;
		}
	}
	.features,
	.technology,
	.products,
	.about,
	.footer {
		padding: 50px 0;
	}
	.footer {
		&__contacts-email,
		&__contacts-phone {
			padding: 0;
		}
		&__contacts-email {
			margin: 0px 0px 15px 0px;
		}
	}
}

@media (max-width: 993px) {
	.section-title {
		font-size: var(--size-large);
	}
	.header {
		&__container {
			position: relative;
			padding: 10px 15px;
		}
		&__menu-burger {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex: 0 0 40px;
			gap: 10px;
			padding: 10px 0;
			transform: rotate(0deg);
			transition: transform 0.3s;
			&.mobile-menu-open {
				transform: rotate(-90deg);
			}
		}
		&__logo {
			flex: 1 1 auto;
		}
		&__menu {
			position: fixed;
			top: 80px;
			right: -320px;
			background: var(--text-light);
			min-width: 320px;
			z-index: 80;
			border-radius: 0 0 10px 10px;
			transition: right 0.3s;
			&.mobile-menu-open {
				right: 0px;
			}
		}
		&__button {
			margin: 0 15px;
		}
		&__menu-list {
			flex-direction: column;
		}
	}
	.intro {
		background-blend-mode: color;
		background:
			url("../images/intro_bg_2.png") right center/cover no-repeat,
			#353a407d;
	}
	.features {
		padding: 50px 0;
	}
	.products {
		&__example {
			flex-wrap: wrap;
			justify-content: center;
			gap: 73px;
		}
		&__example-title {
			text-align: center;
			font-size: var(--size-medium);
		}
		&__example-description {
			text-align: justify;
		}
		&__example-text {
			max-width: none;
		}
		&__example__button {
			width: 100%;
		}
		&__catalog {
			gap: 25px;
			padding: 25px;
		}
		&__catalog-description {
			padding: 0;
		}
		&__catalog-link-button {
			padding: 17px 5px;
		}
		&__minova-logo:not(:last-child) {
			margin: 0px 0px 20px 0px;
		}
		&__list-item {
			padding: 10px;
			&:hover {
				.products__list-item-img {
					transform: rotateX(0deg);
				}
			}
		}
		&__list-item-title {
			min-height: 67px;
		}
		&__list-item-text {
			position: static;
			padding: 0;
			color: var(--additional-white);
			transform: rotateX(0deg);
			background-color: transparent;
			overflow-y: visible;
		}
		&__services {
			flex-wrap: wrap-reverse;
		}
		&__services-link {
			flex: 1 1 100%;
			text-align: center;
		}
		&__services-link-title {
			margin: 0px 0px 20px 0px;
		}
		&__services-link-button {
			width: auto;
		}
		&__services-technologies,
		&__services-description {
			flex: 1 1 calc(50% - 12px);
		}
	}
	.about {
		&__description {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__description-logo {
			justify-content: center;
		}
		&__description-list-item {
			.list-item__text {
				.br {
					display: none;
				}
			}
		}
	}
}

@media (max-width: 769px) {
	.list-item {
		padding: 0;
		gap: 15px;
		&__text {
			text-align: justify;
			--size-regular: 16px;
		}
	}
	.H2 {
		font-size: var(--size-medium);
	}
	.intro {
		padding: 120px 0 50px;
	}
	.technology {
		&__title {
			font-size: 24px;
		}
		.bold {
			font-size: 52px;
		}
		.P1 {
			--size-medium: 16px;
		}
	}
	.products {
		&__minova-description {
			font-size: var(--size-regular);
		}
		&__minova-catalog-link {
			flex: 1 0 275px;
		}
		&__minova-button {
			padding: 17px 0;
		}
		&__list-row {
			flex-direction: column;
			gap: 50px;
		}
		&__list-item {
			padding: 0 60px;
		}
		&__list-item-title {
			min-height: auto;
		}
		&__list-item-text {
			width: 100%;
			aspect-ratio: auto;
		}
		&__services-link-button {
			width: 100%;
		}
		&__services-technologies-title,
		&__services-description-title {
			text-align: center;
		}
		&__services-technologies-list,
		&__services-description-list {
			text-align: justify;
		}
	}
	.about {
		&__description-text {
			text-align: justify;
		}
		&__logo-title {
			font-size: var(--size-large);
			flex: 0 1 350px;
		}
	}
	.footer {
		&__title {
			margin: 0px 0px 30px 0px;
		}
		&__content {
			flex-wrap: wrap-reverse;
			justify-content: center;
		}
		&__contacts {
			p {
				text-align: justify;
			}
		}
	}
}

@media (max-width: 577px) {
	.button {
		width: 100%;
	}
	.header {
		&__container {
			padding: 5px 15px;
		}
		&__logo-img {
			height: 40px;
			img {
				width: 100%;
				height: 100%;
			}
		}
		&__logo-text {
			display: none;
		}
		&__button {
			span {
				display: none;
			}
			&.ghost-button {
				padding: 0px;
			}
		}
		&__mobile-button {
			display: block;
		}
		&__menu {
			top: 50px;
		}
		&__menu-burger {
			padding: 5px 0;
		}
	}
	.intro {
		&__title {
			margin: 0px 0px 20px 0px;
		}
		&__list {
			padding: 0 0 0 15px;
		}
	}
	.features {
		&__list-item {
			flex-wrap: wrap;
			justify-content: center;
			&:not(:last-child) {
				margin: 0px 0px 40px 0px;
			}
		}
		.list-item {
			&__title {
				text-align: center;
			}
		}
	}
	.technology {
		&__subtitle {
			span {
				display: block;
				img {
					width: 100%;
				}
			}
		}
		.bold {
			font-size: 35px;
		}
	}
	.products {
		&__catalog,
		&__minova {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__catalog-description {
			flex: 0 1 auto;
		}
		&__catalog-link-title,
		&__catalog-description-title,
		&__minova-title {
			text-align: center;
		}
		&__minova-description {
			/* text-align: justify; */
		}
		&__list-row {
			flex-direction: column;
			gap: 35px;
		}
		&__list-item {
			padding: 0;
		}
		&__list-item-text {
			text-align: justify;
		}
	}
	.about {
		&__description-logo {
			flex-wrap: wrap-reverse;
		}
		&__logo-title {
			text-align: center;
		}
	}
}

@media (max-width: 426px) {
	.intro {
		&__title {
			--size-medium: 20px;
		}
	}
}

@media (max-width: 376px) {
	.about {
		&__logo-title {
			font-size: var(--size-medium);
		}
	}
	.footer {
		&__contacts-email,
		&__contacts-phone {
			a {
				--size-medium: 20px;
			}
		}
	}
}
