@import "mixins.scss";
@import "samples.scss";
@import "support-styles.scss";
@import "null-styles.scss";
@import "header.scss";
@import "footer.scss";
@import "components.scss";

/* =================================== intro =================================== */
.intro {
	background: url("../images/intro_bg.png") right center no-repeat;
	padding: 150px 0 200px;
	&__content {
		max-width: 813px;
	}
	&__caption {
		color: var(--primary-yelow);
		text-transform: uppercase;
		margin: 0px 0px 10px 0px;
	}
	&__title {
		color: var(--additional-white);
		margin: 0px 0px 40px 0px;
	}
	&__list {
		color: var(--additional-blue-light);
		padding: 0 0 0 30px;
		margin: 0px 0px 35px 0px;
	}
	&__list-item {
		list-style: disc;
	}
}

/* =================================== features =================================== */
.features {
	padding: 55px 0 285px;
	position: relative;
	z-index: 2;
	background:
		url("../images/features/features_bg_logo.png") right 100% no-repeat,
		url("../images/features/features_bg.png") center no-repeat;
	&__title {
		color: var(--primary-yelow);
		text-align: center;
		max-width: 681px;
		span {
			color: var(--additional-white);
		}
		margin: 0px auto 48px;
	}
	&__list-item {
		&:not(:last-child) {
			margin: 0px 0px 48px 0px;
		}
	}
}

/* =================================== technology =================================== */
.technology {
	padding: 123px 0 289px;
	position: relative;
	&__container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 24px;
	}
	&__content {
		flex: 0 1 620px;
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		/* max-width: 608px; */
		gap: 30px;
	}
	&__title {
		color: var(--text-dark);
		font-size: 31.016px;
		font-weight: 500;
		line-height: 140%; /* 43.423px */
	}
	&__subtitle {
		span {
			display: block;
		}
		font-weight: 700;
		text-transform: uppercase;
	}
	&__text {
		span {
			font-weight: 700;
		}
		color: var(--text-dark);
		&_custom {
			padding: 25px;
			color: var(--additional-white);
			border-radius: 5px;
			background: var(--text-light);
		}
	}
	&__form {
		position: relative;
		z-index: 2;
	}
	.transparent {
		font-size: 112px;
		color: transparent;
		-webkit-text-stroke: 3px #1f1c0c;
		letter-spacing: 2.24px;
	}
	.bold {
		font-size: 72.897px;
		letter-spacing: 1.458px;
	}
}

/* =================================== products =================================== */
.products {
	padding: 125px 0 100px;
	background: url("../images/products/products-bg.png") center no-repeat;
	&__container {
		display: flex;
		flex-direction: column;
		gap: 100px;
	}
	/* ========= products__example ========= */
	&__example {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 24px;
	}
	&__example-item {
		position: relative;
		flex: 0 1 500px;
		min-width: 0;
	}
	&__example-slider {
		position: static !important;
	}
	.swiper {
		margin-left: 0;
		margin-right: 0;
	}
	.swiper-slide {
		border-radius: 15px;
		overflow: hidden;
		@extend %adapt-img;
		padding: 0 0 100% 0;
	}
	.swiper-pagination {
		bottom: -42px !important;
	}
	.swiper-pagination-bullet {
		width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 21px));
		height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 21px));
		background: var(--swiper-pagination-bullet-inactive-color, #d9d9d9);
		opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
		margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px) !important;
	}
	.swiper-pagination-bullet-active {
		background: var(--swiper-pagination-bullet-inactive-color, #ffee00);
	}
	&__example-content {
		color: var(--additional-white);
		flex: 0 1 575px;
	}
	&__example-text {
		display: flex;
		flex-direction: column;
		gap: 16px 0;
		margin: 0px 0px 24px 0px;
		max-width: 535px;
	}
	&__example-title {
		text-transform: uppercase;
		margin: 0px 0px 16px 0px;
	}
	&__example-list-item {
		&:not(:last-child) {
			margin: 0px 0px 5px 0px;
		}
	}
	&__example__button {
		width: 88%;
	}
	/* ========= products__catalog ========= */
	&__catalog {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 5px;
		background: var(--primary-yelow);
		padding: 25px 64px;
	}
	&__catalog-link {
		flex: 0 1 376px;
	}
	&__catalog-link-title {
		color: var(--text-dark);
		margin: 0px 0px 24px 0px;
	}
	&__catalog-link-button {
		width: 100%;
	}
	&__catalog-description {
		flex: 0 1 464px;
		padding: 24px;
		color: var(--text-dark);
	}
	&__catalog-description-title {
		margin: 0px 0px 12px 0px;
	}
	&__catalog-description-list-item {
		&:not(:last-child) {
			margin: 0px 0px 12px 0px;
		}
	}
	/* ========= products__minova ========= */
	&__minova {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 24px;
	}
	&__minova-content {
		flex: 0 1 582px;
	}
	&__minova-title {
		color: var(--primary-yelow);
		margin: 0px 0px 15px 0px;
	}
	&__minova-description {
		color: var(--additional-white);
		span {
			text-transform: uppercase;
			color: var(--primary-yelow);
		}
	}
	&__minova-logo {
		&:not(:last-child) {
			margin: 0px 0px 46px 0px;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
	&__minova-button {
		width: 100%;
	}
	/* ========= products__list ========= */
	&__list-row {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
	}
	&__list-item {
		position: relative;
		flex: 0 1 358px;
		padding: 25px;
		perspective: 1400px;
		perspective-origin: 50%;
		&:hover {
			.products__list-item-img {
				transform: rotateX(-180deg);
			}
			.products__list-item-text {
				transform: rotateX(0);
			}
		}
	}
	&__list-item-img {
		border-radius: 5px;
		overflow: hidden;
		margin: 0px 0px 15px 0px;
		transform: rotateX(0deg);
		@extend %adapt-img;
		padding: 0 0 100% 0;
	}
	&__list-item-title {
		color: var(--primary-yelow);
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 140%; /* 33.6px */
		&:not(:last-child) {
			margin: 0px 0px 5px 0px;
		}
	}
	&__list-item-text {
		position: absolute;
		top: 25px;
		left: 25px;
		width: calc(100% - 50px);
		aspect-ratio: 1/1;
		padding: 25px;
		border-radius: 5px;
		overflow-y: scroll;
		color: var(--text-light);
		transform: rotateX(180deg);
		background-color: var(--additional-white);
	}
	&__list-item-img,
	&__list-item-text {
		backface-visibility: hidden;
		transition: transform 0.7s;
	}
	/* ========= products__services ========= */
	&__services {
		display: flex;
		justify-content: space-between;
		color: var(--additional-white);
		gap: 24px;
	}
	&__services-link {
		flex: 0 1 376px;
		align-self: center;
	}
	&__services-link-title {
		margin: 0px 0px 49px 0px;
	}
	&__services-link-button {
		width: 100%;
	}
	&__services-technologies {
		flex: 0 1 325px;
	}
	&__services-description {
		flex: 0 1 390px;
	}
	&__services-technologies-title,
	&__services-technologies-list-item,
	&__services-description-title,
	&__services-description-list-item {
		&:not(:last-child) {
			margin: 0px 0px 12px 0px;
		}
	}
}

/* =================================== about =================================== */
.about {
	padding: 150px 0 250px;
	background: url("../images/about/about-bg.png") center top no-repeat;
	&__title {
		margin: 0px 0px 78px 0px;
	}
	&__description {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0px 0px 109px 0px;
		gap: 24px;
	}
	&__description-info {
		flex: 1 1 645px;
	}
	&__description-logo {
		gap: 25px;
		display: flex;
		justify-content: space-between;
		margin: 0px 0px 45px 0px;
	}
	&__logo-title {
		flex: 0 1 462px;
		color: var(--primary-yelow);
		font-size: 45.331px;
		font-style: normal;
		font-weight: 400;
		line-height: 110%; /* 49.864px */
		letter-spacing: 0.907px;
		span {
			font-weight: 700;
		}
	}
	&__description-text {
		color: var(--additional-white);
	}
	&__description-list {
		flex: 1 1 548px;
	}
	&__description-list-item {
		padding: 0;
		&:not(:last-child) {
			margin: 0px 0px 50px 0px;
		}
		.list-item__title {
			font-size: 16.948px;
			&:not(:last-child) {
				margin: 0px 0px 5px 0px;
			}
		}
		.list-item__text {
			font-size: 12.711px;
			span {
				font-weight: 700;
			}
		}
		&::before {
			content: "";
			display: block;
			width: 56.5px;
			height: 56.5px;
		}
	}
}

@import "media.scss";
