/* ---------- support styles ---------- */
:root {
	--additional-white: #fff;
	--primary-yelow: #fe0;
	--additional-blue-light: #f5f6fc;
	--text-light: #353a40;
	--text-dark: #1f1c0c;

	--size-regular: 18px;
	--size-medium: 24px;
	--size-large: 36px;
}
html {
	scroll-behavior: smooth;
}
body {
	width: 100%;
	font-family: Montserrat;
	&::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		transition:
			background 0.3s,
			z-index 0.3s;
		background: #00000000;
		z-index: -1;
	}
	&.lock {
		background: #000000c4;
		&::before {
			background: #000000d0;
			z-index: 98;
		}
	}
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	.main {
		flex: 1 1 auto;
	}
	background-color: var(--text-light);
}
[class*="_container"] {
	max-width: 1195px;
	margin: 0px auto;
	padding: 0 16px;
	box-sizing: content-box;
}