/* ---------- support styles ---------- */
:root {
	--additional-white: #FFF;
	--primary-yelow: #FE0;
	--additional-blue-light: #F5F6FC;
	--text-light: #353A40;
	--text-dark: #1F1C0C;

	--size-regular: 18px;
	--size-medium: 24px;
	--size-large: 36px;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: Montserrat;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	.main {
		flex: 1 1 auto;
	}
}

[class*="_container"] {
	max-width: 1195px;
	margin: 0px auto;
	padding: 0 16px;
	box-sizing: content-box;
}
