.products__list-item-img, .products .swiper-slide {
  position: relative;
}
.products__list-item-img img, .products .swiper-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form-main__phonenumber, .form-main__name {
  padding: 17px;
  color: var(--text-light);
  border-radius: 4px;
  background: var(--additional-blue-light);
}

/* ---------- support styles ---------- */
:root {
  --additional-white: #fff;
  --primary-yelow: #fe0;
  --additional-blue-light: #f5f6fc;
  --text-light: #353a40;
  --text-dark: #1f1c0c;
  --size-regular: 18px;
  --size-medium: 24px;
  --size-large: 36px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: Montserrat;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: background 0.3s;
  background: rgba(0, 0, 0, 0);
  z-index: -1;
}
body.lock {
  background: rgba(0, 0, 0, 0.768627451);
}
body.lock::before {
  background: rgba(0, 0, 0, 0.8156862745);
  z-index: 98;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--text-light);
}
.wrapper .main {
  flex: 1 1 auto;
}

[class*=_container] {
  max-width: 1195px;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: content-box;
}

/* ---------- nulling styles ---------- */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* ---------- header ---------- */
.header {
  background: var(--text-light);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 80;
}
.header a {
  color: var(--additional-white);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__logo-text span {
  font-weight: 400;
}
.header__menu-list {
  display: flex;
  align-items: center;
}
.header__menu-list .ghost-button {
  padding-left: 24px;
  padding-right: 24px;
}
@media (max-width: 1195px) {
  .header__menu-list .ghost-button {
    padding-left: calc(5px + 19 * ((100vw - 320px) / 875));
  }
}
@media (max-width: 1195px) {
  .header__menu-list .ghost-button {
    padding-right: calc(5px + 19 * ((100vw - 320px) / 875));
  }
}
.header__menu-list-item a {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.header__menu-burger {
  display: none;
}
.header__menu-burger::before, .header__menu-burger::after,
.header__menu-burger span {
  content: "";
  width: 100%;
  height: 3px;
  background: var(--additional-white);
  border-radius: 5px;
}
.header__mobile-button {
  display: none;
  font-size: 30px;
}

/* ---------- footer ---------- */
.footer {
  position: relative;
  padding: 190px 0;
}
.footer__title {
  position: relative;
  z-index: 2;
  margin: 0px 0px 80px 0px;
}
.footer__content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 25px;
}
.footer__contacts {
  flex: 0 1 440px;
  color: var(--text-light);
}
.footer__contacts-email::before {
  background-image: url("../images/footer/icons/mail.svg");
}
.footer__contacts-phone {
  margin: 0px 0px 47px 0px;
}
.footer__contacts-phone::before {
  background-image: url("../images/footer/icons/phone.svg");
}
.footer__contacts-email, .footer__contacts-phone {
  display: flex;
  align-items: center;
  gap: 17px;
  padding: 17px;
}
.footer__contacts-email a, .footer__contacts-phone a {
  position: relative;
  display: block;
  color: inherit;
}
.footer__contacts-email a:not(:last-child), .footer__contacts-phone a:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.footer__contacts-email a::before, .footer__contacts-phone a::before {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 50%;
  right: 50%;
  height: 1px;
  background-color: var(--text-light);
  transition: left 0.3s, right 0.3s;
}
.footer__contacts-email a:hover::before, .footer__contacts-phone a:hover::before {
  left: 0;
  right: 0;
}
.footer__contacts-email::before, .footer__contacts-phone::before {
  content: "";
  width: 37px;
  height: 37px;
  border-radius: 3.705px;
  background-color: var(--text-light);
  background-position: center;
  background-repeat: no-repeat;
}
.footer__address:not(:last-child), .footer__sign:not(:last-child) {
  margin: 0px 0px 11px 0px;
}
.footer__map {
  position: relative;
  z-index: 2;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin: 25px 0px 0px 0px;
  box-shadow: 0 0 20px 0px var(--text-light);
}
.footer__arrow {
  top: 0px;
  height: 100% !important;
}
.footer .arrow-bg::before {
  border-top: 606px solid var(--text-light);
}
.footer .arrow-bg::after {
  border-bottom: 606px solid var(--text-light);
}

.H2 {
  font-family: Montserrat;
  font-size: var(--size-large);
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 39.6px */
  letter-spacing: 0.72px;
}

.H3 {
  font-family: Montserrat;
  font-size: var(--size-medium);
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
  letter-spacing: 0.48px;
}

.H4 {
  font-family: Montserrat;
  font-size: var(--size-regular);
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.36px;
}

.P1 {
  font-family: Montserrat;
  font-size: var(--size-medium);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 33.6px */
}

.P2 {
  font-family: Montserrat;
  font-size: var(--size-regular);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
}

.B1 {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.section-title {
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 52.8px */
  letter-spacing: 0.96px;
  text-transform: uppercase;
}
.section-title_yellow {
  color: var(--primary-yelow);
}
.section-title_grey {
  color: var(--text-light);
}

.button {
  font-weight: 500;
  font-size: var(--size-regular);
  display: inline-flex;
  padding: 17px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  /* border: 4px solid rgba(255, 255, 255, 0); */
  outline: 4px solid transparent;
  transition: color 0.3s, background 0.3s, outline 0.3s;
}
.button_yellow {
  color: var(--text-dark);
  background: var(--primary-yelow);
}
.button_black {
  color: var(--additional-white);
  background: var(--text-dark);
}
.button:hover {
  background: #3dbf00;
  color: var(--additional-white);
}
.button:active {
  color: var(--text-dark);
  background: var(--primary-yelow);
  /* border: 4px solid rgba(56, 176, 0, 0.25); */
  outline: 4px solid rgba(56, 176, 0, 0.25);
}

.ghost-button {
  font-size: var(--size-regular);
  padding: 17px 24px;
  font-weight: 500;
  border-radius: 6px;
  border: 4px solid rgba(255, 255, 255, 0);
  transition: border 0.3s, color 0.3s;
}
.ghost-button:hover {
  color: var(--primary-yelow);
}
.ghost-button:active {
  border: 4px solid rgba(56, 176, 0, 0.25);
}

.list-item {
  display: flex;
  padding: 24px;
  gap: 24px;
}
.list-item__title {
  color: var(--primary-yelow);
}
.list-item__title:not(:last-child) {
  margin: 0px 0px 8px 0px;
}
.list-item__text {
  color: var(--additional-white);
}
.list-item::before {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  color: #353a40;
  background-color: var(--primary-yelow, #fe0);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}
.list-item_truck::before {
  background-image: url("../images/features/icons/truck.svg");
}
.list-item_spanner::before {
  background-image: url("../images/features/icons/spanner.svg");
}
.list-item_award::before {
  background-image: url("../images/features/icons/award.svg");
}
.list-item_pocket::before {
  background-image: url("../images/features/icons/pocket.svg");
}
.list-item_file-text::before {
  background-image: url("../images/about/icons/file-text.svg");
}
.list-item_settings::before {
  background-image: url("../images/about/icons/settings.svg");
}
.list-item_star::before {
  background-image: url("../images/about/icons/star.svg");
}

.li-check {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.li-check::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.li-check_white::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Cpath d='M20.5 6.24023L9.5 17.2402L4.5 12.2402' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.li-check_yellow::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M20 6.5L9 17.5L4 12.5' stroke='%23FFEE00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.li-check_dark::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M20.5 6L9.5 17L4.5 12' stroke='%231F1C0C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.form-main {
  max-width: 516px;
  padding: 24px;
  border-radius: 8px;
  background: var(--text-light);
  box-shadow: 0px 16px 64px 0px rgba(30, 47, 64, 0.09);
}
.form-main__caption {
  color: var(--additional-white);
  margin: 0px 0px 20px 0px;
}
.form-main__caption-title {
  font-weight: 700;
}
.form-main__caption-list {
  padding: 0 0 0 25px;
}
.form-main__list-item {
  list-style: disc;
}
.form-main__title {
  color: var(--additional-white);
  margin: 0px 0px 24px 0px;
}
.form-main__name {
  margin: 0px 0px 12px 0px;
}
.form-main__phonenumber {
  margin: 0px 0px 24px 0px;
}
.form-main__button:not(:last-child) {
  margin: 0px 0px 22px 0px;
}

.arrow-bg {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  height: 820px;
  background: var(--primary-yelow);
  transition: right 0.3s;
}
.arrow-bg::before, .arrow-bg::after {
  position: absolute;
  right: 0;
  content: "";
  width: 0;
  height: 0;
  border-left: 235px solid transparent;
  transition: right 0.3s;
  z-index: 1;
}
.arrow-bg::before {
  top: 0;
  border-top: 410px solid var(--text-light);
}
.arrow-bg::after {
  bottom: 0;
  border-bottom: 410px solid var(--text-light);
}
.arrow-bg span {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: url("../images/arrow-bg/mountain.png") center/cover no-repeat;
}
.arrow-bg.open {
  right: -235px;
}

.order-popup {
  max-width: 360px;
  padding: 30px 25px;
}
.order-popup__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 24px 0px;
}
.order-popup__title {
  color: var(--text-dark);
  padding: 10px 0;
}
.order-popup__closer {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: var(--primary-yelow);
  cursor: pointer;
  /* border: 4px solid rgba(255, 255, 255, 0); */
  outline: 4px solid transparent;
  transition: color 0.3s, background 0.3s, outline 0.3s;
}
.order-popup__closer path {
  stroke: var(--text-dark);
  transition: stroke 0.3s;
}
.order-popup__closer:hover {
  background: #3dbf00;
  color: var(--additional-white);
}
.order-popup__closer:hover path {
  stroke: var(--additional-white);
}
.order-popup__closer:active {
  color: var(--text-dark);
  background: var(--primary-yelow);
  /* border: 4px solid rgba(56, 176, 0, 0.25); */
  outline: 4px solid rgba(56, 176, 0, 0.25);
}
.order-popup__closer:active path {
  stroke: var(--text-dark);
}

.thx-popup {
  max-width: 320px;
  padding: 16px;
}
.thx-popup__title {
  margin: 0px 0px 8px 0px;
}
.thx-popup__text {
  margin: 0px 0px 24px 0px;
}
.thx-popup__text, .thx-popup__title {
  color: var(--text-dark, #1f1c0c);
}
.thx-popup__button {
  width: 100%;
}

.order-popup,
.thx-popup {
  z-index: 99;
  position: fixed;
  top: 130%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 8px;
  background: var(--additional-white, #fff);
  box-shadow: 0px 16px 64px 0px rgba(30, 47, 64, 0.05);
  transition: top 0.3s;
}
.order-popup.visible-popup,
.thx-popup.visible-popup {
  top: 50%;
  transform: translate(-50%, -50%);
}

.form-popup__name {
  margin: 0px 0px 12px 0px;
}
.form-popup__phonenumber {
  margin: 0px 0px 24px 0px;
}
.form-popup__name, .form-popup__phonenumber {
  padding: 16px 17px;
  border-radius: 4px;
  background: var(--additional-blue-light, #f5f6fc);
}
.form-popup__button {
  width: 100%;
}

/* =================================== intro =================================== */
.intro {
  background: url("../images/intro_bg_2.png") right center no-repeat;
  padding: 150px 0 200px;
}
.intro__content {
  max-width: 813px;
}
.intro__caption {
  color: var(--primary-yelow);
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
}
.intro__title {
  color: var(--additional-white);
  margin: 0px 0px 40px 0px;
}
.intro__list {
  color: var(--additional-blue-light);
  padding: 0 0 0 30px;
  margin: 0px 0px 35px 0px;
}
.intro__list-item {
  list-style: disc;
}

/* =================================== features =================================== */
.features {
  padding: 55px 0 285px;
  position: relative;
  z-index: 2;
  background: url("../images/features/features_bg_logo.png") right 100% no-repeat, url("../images/features/features_bg.png") center no-repeat;
}
.features__title {
  color: var(--primary-yelow);
  text-align: center;
  max-width: 681px;
  margin: 0px auto 48px;
}
.features__title span {
  color: var(--additional-white);
}
.features__list-item:not(:last-child) {
  margin: 0px 0px 48px 0px;
}

/* =================================== technology =================================== */
.technology {
  padding: 123px 0 289px;
  position: relative;
}
.technology__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}
.technology__content {
  flex: 0 1 620px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  /* max-width: 608px; */
  gap: 30px;
}
.technology__title {
  color: var(--text-dark);
  font-size: 31.016px;
  font-weight: 500;
  line-height: 140%; /* 43.423px */
}
.technology__subtitle {
  font-weight: 700;
  text-transform: uppercase;
}
.technology__subtitle span {
  display: block;
}
.technology__text {
  color: var(--text-dark);
}
.technology__text span {
  font-weight: 700;
}
.technology__text_custom {
  padding: 25px;
  color: var(--additional-white);
  border-radius: 5px;
  background: var(--text-light);
}
.technology__form {
  position: relative;
  z-index: 2;
}
.technology .transparent {
  font-size: 112px;
  color: transparent;
  -webkit-text-stroke: 3px #1f1c0c;
  letter-spacing: 2.24px;
}
.technology .bold {
  font-size: 72.897px;
  letter-spacing: 1.458px;
}

/* =================================== products =================================== */
.products {
  padding: 125px 0 100px;
  background: url("../images/products/products-bg.png") center no-repeat;
  /* ========= products__example ========= */
  /* ========= products__catalog ========= */
  /* ========= products__minova ========= */
  /* ========= products__list ========= */
  /* ========= products__services ========= */
}
.products__container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.products__example {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
}
.products__example-item {
  position: relative;
  flex: 0 1 500px;
  min-width: 0;
}
.products__example-slider {
  position: static !important;
}
.products .swiper {
  margin-left: 0;
  margin-right: 0;
}
.products .swiper-slide {
  border-radius: 15px;
  overflow: hidden;
  padding: 0 0 100% 0;
}
.products .swiper-pagination {
  bottom: -42px !important;
}
.products .swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 21px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 21px));
  background: var(--swiper-pagination-bullet-inactive-color, #d9d9d9);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px) !important;
}
.products .swiper-pagination-bullet-active {
  background: var(--swiper-pagination-bullet-inactive-color, #ffee00);
}
.products__example-content {
  color: var(--additional-white);
  flex: 0 1 575px;
}
.products__example-text {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  margin: 0px 0px 24px 0px;
  max-width: 535px;
}
.products__example-title {
  text-transform: uppercase;
  margin: 0px 0px 16px 0px;
}
.products__example-list-item:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.products__example__button {
  width: 88%;
}
.products__catalog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background: var(--primary-yelow);
  padding: 25px 64px;
}
.products__catalog-link {
  flex: 0 1 376px;
}
.products__catalog-link-title {
  color: var(--text-dark);
  margin: 0px 0px 24px 0px;
}
.products__catalog-link-button {
  width: 100%;
}
.products__catalog-description {
  flex: 0 1 464px;
  padding: 24px;
  color: var(--text-dark);
}
.products__catalog-description-title {
  margin: 0px 0px 12px 0px;
}
.products__catalog-description-list-item:not(:last-child) {
  margin: 0px 0px 12px 0px;
}
.products__minova {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.products__minova-content {
  flex: 0 1 582px;
}
.products__minova-title {
  color: var(--primary-yelow);
  margin: 0px 0px 15px 0px;
}
.products__minova-description {
  color: var(--additional-white);
}
.products__minova-description span {
  text-transform: uppercase;
  color: var(--primary-yelow);
}
.products__minova-logo:not(:last-child) {
  margin: 0px 0px 46px 0px;
}
.products__minova-logo img {
  width: 100%;
  height: 100%;
}
.products__minova-button {
  width: 100%;
}
.products__list-row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.products__list-item {
  position: relative;
  flex: 0 1 358px;
  padding: 25px;
  perspective: 1400px;
  perspective-origin: 50%;
}
.products__list-item:hover .products__list-item-img {
  transform: rotateX(-180deg);
}
.products__list-item:hover .products__list-item-text {
  transform: rotateX(0);
}
.products__list-item-img {
  border-radius: 5px;
  overflow: hidden;
  margin: 0px 0px 15px 0px;
  transform: rotateX(0deg);
  padding: 0 0 100% 0;
}
.products__list-item-title {
  color: var(--primary-yelow);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
}
.products__list-item-title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.products__list-item-text {
  position: absolute;
  top: 25px;
  left: 25px;
  width: calc(100% - 50px);
  aspect-ratio: 1/1;
  padding: 25px;
  border-radius: 5px;
  overflow-y: scroll;
  color: var(--text-light);
  transform: rotateX(180deg);
  background-color: var(--additional-white);
}
.products__list-item-img, .products__list-item-text {
  backface-visibility: hidden;
  transition: transform 0.7s;
}
.products__services {
  display: flex;
  justify-content: space-between;
  color: var(--additional-white);
  gap: 24px;
}
.products__services-link {
  flex: 0 1 376px;
  align-self: center;
}
.products__services-link-title {
  margin: 0px 0px 49px 0px;
}
.products__services-link-button {
  width: 100%;
}
.products__services-technologies {
  flex: 0 1 325px;
}
.products__services-description {
  flex: 0 1 390px;
}
.products__services-technologies-title:not(:last-child), .products__services-technologies-list-item:not(:last-child), .products__services-description-title:not(:last-child), .products__services-description-list-item:not(:last-child) {
  margin: 0px 0px 12px 0px;
}

/* =================================== about =================================== */
.about {
  padding: 150px 0 250px;
  background: url("../images/about/about-bg.png") center top no-repeat;
}
.about__title {
  margin: 0px 0px 78px 0px;
}
.about__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 109px 0px;
  gap: 24px;
}
.about__description-info {
  flex: 1 1 645px;
}
.about__description-logo {
  gap: 25px;
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 45px 0px;
}
.about__logo-title {
  flex: 0 1 462px;
  color: var(--primary-yelow);
  font-size: 45.331px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 49.864px */
  letter-spacing: 0.907px;
}
.about__logo-title span {
  font-weight: 700;
}
.about__description-text {
  color: var(--additional-white);
}
.about__description-list {
  flex: 1 1 548px;
}
.about__description-list-item {
  padding: 0;
}
.about__description-list-item:not(:last-child) {
  margin: 0px 0px 50px 0px;
}
.about__description-list-item .list-item__title {
  font-size: 16.948px;
}
.about__description-list-item .list-item__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.about__description-list-item .list-item__text {
  font-size: 12.711px;
}
.about__description-list-item .list-item__text span {
  font-weight: 700;
}
.about__description-list-item::before {
  content: "";
  display: block;
  width: 56.5px;
  height: 56.5px;
}

/* ---------- media quaries ---------- */
@media (max-width: 1200px) {
  .arrow-bg {
    top: 0;
    height: 100%;
  }
  .arrow-bg::before, .arrow-bg::after {
    display: none;
  }
  .features {
    background: url("../images/features/features_bg.png") center no-repeat;
  }
  .features__title {
    margin: 0px auto 50px;
  }
  .features__list-item:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
  .technology__container {
    justify-content: center;
  }
  .technology__titles {
    text-align: center;
  }
  .technology__text {
    text-align: justify;
  }
  .products__container {
    gap: 50px;
  }
  .about__title {
    margin: 0px 0px 40px 0px;
  }
  .about__description {
    margin: 0px 0px 50px 0px;
  }
  .about__description-list-item:not(:last-child) {
    margin: 0px 0px 25px 0px;
  }
  .features,
  .technology,
  .products,
  .about,
  .footer {
    padding: 50px 0;
  }
  .footer__contacts-email, .footer__contacts-phone {
    padding: 0;
  }
  .footer__contacts-email {
    margin: 0px 0px 15px 0px;
  }
}
@media (max-width: 993px) {
  .section-title {
    font-size: var(--size-large);
  }
  .header__container {
    position: relative;
    padding: 10px 15px;
  }
  .header__menu-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 40px;
    gap: 10px;
    padding: 10px 0;
    transform: rotate(0deg);
    transition: transform 0.3s;
  }
  .header__menu-burger.mobile-menu-open {
    transform: rotate(-90deg);
  }
  .header__logo {
    flex: 1 1 auto;
  }
  .header__menu {
    position: fixed;
    top: 80px;
    right: -320px;
    background: var(--text-light);
    min-width: 320px;
    z-index: 80;
    border-radius: 0 0 10px 10px;
    transition: right 0.3s;
  }
  .header__menu.mobile-menu-open {
    right: 0px;
  }
  .header__button {
    margin: 0 15px;
  }
  .header__menu-list {
    flex-direction: column;
  }
  .intro {
    background-blend-mode: color;
    background: url("../images/intro_bg_2.png") right center/cover no-repeat, rgba(53, 58, 64, 0.4901960784);
  }
  .features {
    padding: 50px 0;
  }
  .products__example {
    flex-wrap: wrap;
    justify-content: center;
    gap: 73px;
  }
  .products__example-title {
    text-align: center;
    font-size: var(--size-medium);
  }
  .products__example-description {
    text-align: justify;
  }
  .products__example-text {
    max-width: none;
  }
  .products__example__button {
    width: 100%;
  }
  .products__catalog {
    gap: 25px;
    padding: 25px;
  }
  .products__catalog-description {
    padding: 0;
  }
  .products__catalog-link-button {
    padding: 17px 5px;
  }
  .products__minova-logo:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }
  .products__list-item {
    padding: 10px;
  }
  .products__list-item:hover .products__list-item-img {
    transform: rotateX(0deg);
  }
  .products__list-item-title {
    min-height: 67px;
  }
  .products__list-item-text {
    position: static;
    padding: 0;
    color: var(--additional-white);
    transform: rotateX(0deg);
    background-color: transparent;
    overflow-y: visible;
  }
  .products__services {
    flex-wrap: wrap-reverse;
  }
  .products__services-link {
    flex: 1 1 100%;
    text-align: center;
  }
  .products__services-link-title {
    margin: 0px 0px 20px 0px;
  }
  .products__services-link-button {
    width: auto;
  }
  .products__services-technologies, .products__services-description {
    flex: 1 1 calc(50% - 12px);
  }
  .about__description {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about__description-logo {
    justify-content: center;
  }
  .about__description-list-item .list-item__text .br {
    display: none;
  }
}
@media (max-width: 769px) {
  .list-item {
    padding: 0;
    gap: 15px;
  }
  .list-item__text {
    text-align: justify;
    --size-regular: 16px;
  }
  .H2 {
    font-size: var(--size-medium);
  }
  .intro {
    padding: 120px 0 50px;
  }
  .technology__title {
    font-size: 24px;
  }
  .technology .transparent {
    font-size: 80px;
  }
  .technology .bold {
    font-size: 52px;
  }
  .technology .P1 {
    --size-medium: 16px;
  }
  .products__minova-description {
    font-size: var(--size-regular);
  }
  .products__minova-catalog-link {
    flex: 1 0 275px;
  }
  .products__minova-button {
    padding: 17px 0;
  }
  .products__list-row {
    flex-direction: column;
    gap: 50px;
  }
  .products__list-item {
    padding: 0 60px;
  }
  .products__list-item-title {
    min-height: auto;
  }
  .products__list-item-text {
    width: 100%;
    aspect-ratio: auto;
  }
  .products__services-link-button {
    width: 100%;
  }
  .products__services-technologies-title, .products__services-description-title {
    text-align: center;
  }
  .products__services-technologies-list, .products__services-description-list {
    text-align: justify;
  }
  .about__description-text {
    text-align: justify;
  }
  .about__logo-title {
    font-size: var(--size-large);
    flex: 0 1 350px;
  }
  .footer__title {
    margin: 0px 0px 30px 0px;
  }
  .footer__content {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .footer__contacts p {
    text-align: justify;
  }
}
@media (max-width: 577px) {
  .button {
    width: 100%;
  }
  .header__container {
    padding: 5px 15px;
  }
  .header__logo-img {
    height: 40px;
  }
  .header__logo-img img {
    width: 100%;
    height: 100%;
  }
  .header__logo-text {
    display: none;
  }
  .header__button span {
    display: none;
  }
  .header__button.ghost-button {
    padding: 0px;
  }
  .header__mobile-button {
    display: block;
  }
  .header__menu {
    top: 50px;
  }
  .header__menu-burger {
    padding: 5px 0;
  }
  .intro__title {
    margin: 0px 0px 20px 0px;
  }
  .intro__list {
    padding: 0 0 0 15px;
  }
  .features__list-item {
    flex-wrap: wrap;
    justify-content: center;
  }
  .features__list-item:not(:last-child) {
    margin: 0px 0px 40px 0px;
  }
  .features .list-item__title {
    text-align: center;
  }
  .technology .transparent {
    font-size: 55px;
  }
  .technology .bold {
    font-size: 35px;
  }
  .products__catalog, .products__minova {
    flex-wrap: wrap;
    justify-content: center;
  }
  .products__catalog-description {
    flex: 0 1 auto;
  }
  .products__catalog-link-title, .products__catalog-description-title, .products__minova-title {
    text-align: center;
  }
  .products__minova-description {
    text-align: justify;
  }
  .products__list-row {
    flex-direction: column;
    gap: 35px;
  }
  .products__list-item {
    padding: 0;
  }
  .products__list-item-text {
    text-align: justify;
  }
  .about__description-logo {
    flex-wrap: wrap-reverse;
  }
  .about__logo-title {
    text-align: center;
  }
}
@media (max-width: 426px) {
  .intro__title {
    --size-medium: 20px;
  }
}
@media (max-width: 376px) {
  .about__logo-title {
    font-size: var(--size-medium);
  }
  .footer__contacts-email a, .footer__contacts-phone a {
    --size-medium: 20px;
  }
}