/* ---------- support styles ---------- */
:root {
  --additional-white: #fff;
  --primary-yelow: #fe0;
  --additional-blue-light: #f5f6fc;
  --text-light: #353a40;
  --text-dark: #1f1c0c;
  --size-regular: 18px;
  --size-medium: 24px;
  --size-large: 36px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper .main {
  flex: 1 1 auto;
}

[class*=_container] {
  max-width: 1195px;
  margin: 0px auto;
  padding: 0 16px;
  box-sizing: content-box;
}

/* ---------- nulling styles ---------- */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* ---------- bem blocks ---------- */ /* ---------- header ---------- */ /* ---------- footer ---------- */
.H2 {
  font-family: Montserrat;
  font-size: var(--size-large);
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 39.6px */
  letter-spacing: 0.72px;
}

.H3 {
  font-family: Montserrat;
  font-size: var(--size-medium);
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
  letter-spacing: 0.48px;
}

.H4 {
  font-family: Montserrat;
  font-size: var(--size-regular);
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0.36px;
}

.P1 {
  font-family: Montserrat;
  font-size: var(--size-medium);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 33.6px */
}

.P2 {
  font-family: Montserrat;
  font-size: var(--size-regular);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
}

.section-title {
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 52.8px */
  letter-spacing: 0.96px;
  text-transform: uppercase;
}
.section-title_yellow {
  color: var(--primary-yelow);
}
.section-title_grey {
  color: var(--text-light);
}

/* =================================== intro =================================== */
/* ---------- media quaries ---------- */