.form-main__phonenumber, .form-main__name {
  padding: 17px;
  color: var(--text-light);
  border-radius: 4px;
  background: var(--additional-blue-light);
}

/* ---------- support styles ---------- */
:root {
  --additional-white: #fff;
  --primary-yelow: #fe0;
  --additional-blue-light: #f5f6fc;
  --text-light: #353a40;
  --text-dark: #1f1c0c;
  --size-regular: 18px;
  --size-medium: 24px;
  --size-large: 36px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--text-light);
}
.wrapper .main {
  flex: 1 1 auto;
}

[class*=_container] {
  max-width: 1195px;
  margin: 0px auto;
  padding: 0 16px;
  box-sizing: content-box;
}

/* ---------- nulling styles ---------- */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* ---------- bem blocks ---------- */ /* ---------- header ---------- */
.header {
  background: var(--text-light);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header a {
  color: var(--additional-white);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__logo-text span {
  font-weight: 400;
}
.header__menu-list {
  display: flex;
  align-items: center;
}
.header__menu-list-item a {
  display: inline-block;
  height: 100%;
  width: 100%;
}

/* ---------- footer ---------- */
.footer {
  position: relative;
  padding: 190px 0;
}
.footer__title {
  position: relative;
  z-index: 2;
  margin: 0px 0px 80px 0px;
}
.footer__content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__contacts {
  flex: 0 1 440px;
  color: var(--text-light);
}
.footer__contacts-email::before {
  background-image: url("/assets/images/footer/icons/mail.svg");
}
.footer__contacts-phone {
  margin: 0px 0px 47px 0px;
}
.footer__contacts-phone::before {
  background-image: url("/assets/images/footer/icons/phone.svg");
}
.footer__contacts-email, .footer__contacts-phone {
  display: flex;
  align-items: center;
  gap: 17px;
  padding: 17px;
}
.footer__contacts-email a, .footer__contacts-phone a {
  position: relative;
  display: block;
  color: inherit;
}
.footer__contacts-email a:not(:last-child), .footer__contacts-phone a:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.footer__contacts-email a::before, .footer__contacts-phone a::before {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 50%;
  right: 50%;
  height: 1px;
  background-color: var(--text-light);
  transition: left 0.3s, right 0.3s;
}
.footer__contacts-email a:hover::before, .footer__contacts-phone a:hover::before {
  left: 0;
  right: 0;
}
.footer__contacts-email::before, .footer__contacts-phone::before {
  content: "";
  width: 37px;
  height: 37px;
  border-radius: 3.705px;
  background-color: var(--text-light);
  background-position: center;
  background-repeat: no-repeat;
}
.footer__address:not(:last-child), .footer__sign:not(:last-child) {
  margin: 0px 0px 11px 0px;
}
.footer__arrow {
  top: 0px;
}

.H2 {
  font-family: Montserrat;
  font-size: var(--size-large);
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 39.6px */
  letter-spacing: 0.72px;
}

.H3 {
  font-family: Montserrat;
  font-size: var(--size-medium);
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
  letter-spacing: 0.48px;
}

.H4 {
  font-family: Montserrat;
  font-size: var(--size-regular);
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.36px;
}

.P1 {
  font-family: Montserrat;
  font-size: var(--size-medium);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 33.6px */
}

.P2 {
  font-family: Montserrat;
  font-size: var(--size-regular);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
}

.B1 {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.section-title {
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 52.8px */
  letter-spacing: 0.96px;
  text-transform: uppercase;
}
.section-title_yellow {
  color: var(--primary-yelow);
}
.section-title_grey {
  color: var(--text-light);
}

.button {
  font-weight: 500;
  font-size: var(--size-regular);
  display: inline-flex;
  padding: 17px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 4px solid rgba(255, 255, 255, 0);
  transition: color 0.3s, background 0.3s, border 0.3s;
}
.button_yellow {
  color: var(--text-dark);
  background: var(--primary-yelow);
}
.button_black {
  color: var(--additional-white);
  background: var(--text-dark);
}
.button:hover {
  background: #3dbf00;
  color: var(--additional-white);
}
.button:active {
  color: var(--text-dark);
  background: var(--primary-yelow);
  border: 4px solid rgba(56, 176, 0, 0.25);
}

.ghost-button {
  font-size: var(--size-regular);
  padding: 17px 24px;
  font-weight: 500;
  border-radius: 6px;
  border: 4px solid rgba(255, 255, 255, 0);
  transition: border 0.3s, color 0.3s;
}
.ghost-button:hover {
  color: var(--primary-yelow);
}
.ghost-button:active {
  border: 4px solid rgba(56, 176, 0, 0.25);
}

.list-item {
  display: flex;
  padding: 24px;
  gap: 24px;
}
.list-item__title {
  color: var(--primary-yelow);
}
.list-item__title:not(:last-child) {
  margin: 0px 0px 8px 0px;
}
.list-item__text {
  color: var(--additional-white);
}
.list-item::before {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  color: #353a40;
  background-color: var(--primary-yelow, #fe0);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}
.list-item_truck::before {
  background-image: url(/assets/images/features/icons/truck.svg);
}
.list-item_spanner::before {
  background-image: url(/assets/images/features/icons/spanner.svg);
}
.list-item_award::before {
  background-image: url(/assets/images/features/icons/award.svg);
}
.list-item_pocket::before {
  background-image: url(/assets/images/features/icons/pocket.svg);
}
.list-item_file-text::before {
  background-image: url(/assets/images/about/icons/file-text.svg);
}
.list-item_settings::before {
  background-image: url(/assets/images/about/icons/settings.svg);
}
.list-item_star::before {
  background-image: url(/assets/images/about/icons/star.svg);
}

.li-check {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.li-check::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.li-check_white::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Cpath d='M20.5 6.24023L9.5 17.2402L4.5 12.2402' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.li-check_yellow::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M20 6.5L9 17.5L4 12.5' stroke='%23FFEE00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.li-check_dark::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M20.5 6L9.5 17L4.5 12' stroke='%231F1C0C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.form-main {
  max-width: 516px;
  padding: 24px;
  border-radius: 8px;
  background: var(--text-light);
  box-shadow: 0px 16px 64px 0px rgba(30, 47, 64, 0.09);
}
.form-main__caption {
  color: var(--additional-white);
  margin: 0px 0px 20px 0px;
}
.form-main__caption-title {
  font-weight: 700;
}
.form-main__caption-list {
  padding: 0 0 0 25px;
}
.form-main__list-item {
  list-style: disc;
}
.form-main__title {
  color: var(--additional-white);
  margin: 0px 0px 24px 0px;
}
.form-main__name {
  margin: 0px 0px 12px 0px;
}
.form-main__phonenumber {
  margin: 0px 0px 24px 0px;
}
.form-main__button:not(:last-child) {
  margin: 0px 0px 22px 0px;
}

.arrow-bg {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  height: 820px;
  background: var(--primary-yelow);
  transition: right 0.3s;
}
.arrow-bg::before, .arrow-bg::after {
  position: absolute;
  right: 0;
  content: "";
  width: 0;
  height: 0;
  border-left: 235px solid transparent;
  transition: right 0.3s;
  z-index: 1;
}
.arrow-bg::before {
  top: 0;
  border-top: 410px solid var(--text-light);
}
.arrow-bg::after {
  bottom: 0;
  border-bottom: 410px solid var(--text-light);
}
.arrow-bg span {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: url(/assets/images/arrow-bg/mountain.png) center/cover no-repeat;
}
.arrow-bg.open {
  right: -235px;
}

/* =================================== intro =================================== */
.intro {
  background: url(assets/images/intro_bg.png) right center no-repeat;
  padding: 150px 0 200px;
}
.intro__content {
  max-width: 813px;
}
.intro__caption {
  color: var(--primary-yelow);
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
}
.intro__title {
  color: var(--additional-white);
  margin: 0px 0px 40px 0px;
}
.intro__list {
  color: var(--additional-blue-light);
  padding: 0 0 0 30px;
  margin: 0px 0px 35px 0px;
}
.intro__list-item {
  list-style: disc;
}
.intro__button {
  display: inline-block;
}

/* =================================== features =================================== */
.features {
  padding: 55px 0 285px;
  position: relative;
  z-index: 2;
  background: url(assets/images/features/features_bg_logo.png) right center no-repeat, url(assets/images/features/features_bg.png) center no-repeat;
}
.features__title {
  color: var(--primary-yelow);
  text-align: center;
  max-width: 681px;
  margin: 0px auto 48px;
}
.features__title span {
  color: var(--additional-white);
}
.features__list-item:not(:last-child) {
  margin: 0px 0px 48px 0px;
}

/* =================================== technology =================================== */
.technology {
  padding: 123px 0 289px;
  position: relative;
}
.technology__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 24px;
}
.technology__content {
  flex: 0 1 620px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  /* max-width: 608px; */
  gap: 30px;
}
.technology__title {
  color: var(--text-dark);
  font-size: 31.016px;
  font-weight: 500;
  line-height: 140%; /* 43.423px */
}
.technology__subtitle {
  font-weight: 700;
  text-transform: uppercase;
}
.technology__subtitle span {
  display: block;
}
.technology__text {
  color: var(--text-dark);
}
.technology__text span {
  font-weight: 700;
}
.technology__text_custom {
  padding: 25px;
  color: var(--additional-white);
  border-radius: 5px;
  background: var(--text-light);
}
.technology__form {
  position: relative;
  z-index: 2;
}
.technology .transparent {
  font-size: 112px;
  color: transparent;
  -webkit-text-stroke: 3px #1f1c0c;
  letter-spacing: 2.24px;
}
.technology .bold {
  font-size: 72.897px;
  letter-spacing: 1.458px;
}

/* =================================== products =================================== */
.products {
  padding: 25px 0 0;
  background: url("assets/images/products/products-bg.png") center no-repeat;
  /* ========= products__example ========= */
  /* ========= products__catalog ========= */
  /* ========= products__minova ========= */
  /* ========= products__list ========= */
  /* ========= products__services ========= */
}
.products__container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.products__container::before, .products__container::after {
  content: "";
  height: 100%;
  width: 200px;
}
.products__example {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 0 24px;
}
.products__example-slider {
  flex: 0 0 500px;
}
.products .swiper {
  margin-left: 0;
  margin-right: 0;
}
.products .swiper-slide {
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
}
.products .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products .swiper-pagination {
  bottom: 22px !important;
}
.products .swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 21px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 21px));
  background: var(--swiper-pagination-bullet-inactive-color, #d9d9d9);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px) !important;
}
.products .swiper-pagination-bullet-active {
  background: var(--swiper-pagination-bullet-inactive-color, #ffee00);
}
.products__example-content {
  color: var(--additional-white);
  flex: 0 1 575px;
}
.products__example-text {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  margin: 0px 0px 24px 0px;
  max-width: 535px;
}
.products__example-title {
  text-transform: uppercase;
  margin: 0px 0px 16px 0px;
}
.products__example-list-item:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.products__example__button {
  width: 88%;
}
.products__catalog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background: var(--primary-yelow);
  padding: 25px 64px;
}
.products__catalog-link {
  flex: 0 1 376px;
}
.products__catalog-link-title {
  color: var(--text-dark);
  margin: 0px 0px 24px 0px;
}
.products__catalog-link-button {
  width: 100%;
}
.products__catalog-description {
  flex: 0 1 464px;
  padding: 24px;
  color: var(--text-dark);
}
.products__catalog-description-title {
  margin: 0px 0px 12px 0px;
}
.products__catalog-description-list-item:not(:last-child) {
  margin: 0px 0px 12px 0px;
}
.products__minova {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 24px;
}
.products__minova-content {
  flex: 0 1 582px;
}
.products__minova-title {
  color: var(--primary-yelow);
  margin: 0px 0px 15px 0px;
}
.products__minova-description {
  color: var(--additional-white);
}
.products__minova-description span {
  text-transform: uppercase;
  color: var(--primary-yelow);
}
.products__minova-logo:not(:last-child) {
  margin: 0px 0px 46px 0px;
}
.products__minova-logo img {
  width: 100%;
  height: 100%;
}
.products__minova-button {
  width: 100%;
}
.products__list-row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.products__list-item {
  flex: 0 1 358px;
  padding: 25px;
}
.products__list-item-img {
  border-radius: 5px;
  overflow: hidden;
  margin: 0px 0px 15px 0px;
}
.products__list-item-title {
  min-height: 67.2px;
  color: var(--primary-yelow);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
  margin: 0px 0px 5px 0px;
}
.products__list-item-text {
  color: var(--additional-white);
}
.products__services {
  display: flex;
  justify-content: space-between;
  color: var(--additional-white);
  gap: 0 24px;
}
.products__services-link {
  flex: 0 1 376px;
  align-self: center;
}
.products__services-link-title {
  margin: 0px 0px 49px 0px;
}
.products__services-link-button {
  width: 100%;
}
.products__services-technologies {
  flex: 0 1 325px;
}
.products__services-description {
  flex: 0 1 390px;
}
.products__services-technologies-title:not(:last-child), .products__services-technologies-list-item:not(:last-child), .products__services-description-title:not(:last-child), .products__services-description-list-item:not(:last-child) {
  margin: 0px 0px 12px 0px;
}

/* =================================== about =================================== */
.about {
  padding: 150px 0 250px;
  background: url("assets/images/about/about-bg.png") center top no-repeat;
}
.about__title {
  margin: 0px 0px 78px 0px;
}
.about__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 109px 0px;
}
.about__description-info {
  flex: 0 1 645px;
}
.about__description-logo {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 45px 0px;
}
.about__logo-title {
  flex: 0 1 462px;
  color: var(--primary-yelow);
  font-size: 45.331px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 49.864px */
  letter-spacing: 0.907px;
}
.about__logo-title span {
  font-weight: 700;
}
.about__description-text {
  color: var(--additional-white);
}
.about__description-list {
  flex: 0 1 548px;
}
.about__description-list-item .list-item__title {
  font-size: 16.948px;
}
.about__description-list-item .list-item__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.about__description-list-item .list-item__text {
  font-size: 12.711px;
}
.about__description-list-item .list-item__text span {
  font-weight: 700;
}
.about__description-list-item::before {
  content: "";
  display: block;
  width: 56.5px;
  height: 56.5px;
}

/* ---------- media quaries ---------- */